$font-stack: Arial, Helvetica, sans-serif;
$primary-color: rgb(223, 4, 4);
$color-222: rgb(112, 112, 111);
$font-size-34: 34px;
$font-size-24: 24px;

body {
  margin: 0;
  font-family: $font-stack;
}

.wpap {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wpap {
  .popup {
    position: relative;
    width: 820px;
    height: 480px;
    margin: auto;
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  }
}
